extend layout

block content

  .title
    h2 About
  p
    strong Tower: The Ascent 
    | is a different type of Incremental (or Idle) experience.
    | Inspired by games like 
    em Cookie Clicker 
    | and 
    em Clicker Heroes, 
    strong Tower: The Ascent 
    | aims to add upon those experiences while still preserving 
    | the basic characteristics that make an Idle Game an Idle game. 
  br
  p
    | When I first played an Incremental Game, I felt myself drawn to the incredibly
    | simple mechanics that proved to be unexplicably addictive and compelling. 
    | I never thought that something as simple as clicking my mouse could do so much to keep me
    | engaged and interested. Nevertheless, after some time I found a problem that permeated 
    | the genre: they became very repetitive, there was little sense of progression,
    | and the magic faded away quickly.
  br
  p  
    | I realized that there was immense potential in this new genre, and that if more
    | was added to it a more compelling and engaging experience could be conceived, 
    | one that continued to grow beyond simply "resetting" or "ascending"
    | in the game. This is the initial premise for 
    strong Tower: The Ascent.
  br
  p  
    | In the game, you take in the role of an adventurer ascending a misterious Tower.
    | Each floor in the tower is a world in itself, plagued with monsters, loot and 
    | secrets to discover. After you beat the Boss of the Floor, you're allowed to 
    | continue to the next floor, with more perils, with more challenges, and with greater
    | gear and power to obtain. Only the bravest ones can reach the top of the Tower.
    | How far up will you Ascend?
  br
  p(align="center")
    img(src="../images/logo-medium.png", alt="Tower: The Ascent Logo")

block sidebar
  #stwo-col
    h2 Links
    .sbox2
      p
        | Facebook, twitter, etc.