extend layout

block content

  .title
    h2 Contact Us
  p
    | We are an amazing indie developer team! If you have questions, feedback,
    | or just need to contact the devs: 

block sidebar
  ul.style1
    li.first
      p
        | Facebook, twitter, etc.