extend layout

block content

  .title
    h2 Contact Us
  p
    | If you have questions or feedback,
    br
    |shot us an email to: 

block sidebar
  #stwo-col
    h2 Links
    .sbox2
      p
        | Facebook, twitter, etc.