extend layout

block content
  #gameDiv

block sidebar
  #user
    h1.text-center.login-title 
      div.signup-wall
        ul.user-details
          li Welcome, #{user.username}.
          hr
          li 
        a(href='/signout') Sign Out