extend layout

block content

  .title
    h2 An Incremental RPG Experience
  p
    | Experience the enjoyment of an RPG experience in an idle environment.  
    | Happiness is only a moment away as you level your character over and over again.  
    | Gain skills, might monsters and ascend to the top!  Choose from over 500 characters.  
    | Without over 200 enemies you will never fight the same one again.  New situations arise 
    | daily making you come back again and again. I stink at writing, but that"s okay.

block sidebar
  ul.style1
    li.first
      p
        a(href="#")
          img(src="./images/play_button_icon.gif", alt="Play Game", style="width:250px;height:240px")