extend layout

block vars
  - var pageTitle = "homePage"

block content

  .title
    h2 An Incremental RPG Experience
  p 
    | This game is 
    strong 100% Free
    | ! Enjoy all the features of an Idle game, plus:  
  br
  p
    strong
      font(color="black") >> 
    | Level up your character attributes, choose your gear!
    br
    strong
      font(color="black") >> 
    | Each floor a World to explore for loot and gear!
    br
    strong
      font(color="black") >> 
    | Secret areas, plagued with valuable loot!
    br
    strong
      font(color="black") >> 
    | Store you're progress in our server to play from any browser!
    br
    strong
      font(color="black") >> 
    | Ascend up the tower for even greater challenges and crazy worlds!
    br
    strong
      font(color="black") >> 
    | How far up will you Ascend?  

block sidebar
  ul.style1
    li.first
      p &#160;
      p &#160;
      p
        a(href="/play")
          img(src="./images/button-medium.png", alt="Play Game")