extend layout

block content

  .title
    h2 An Incremental RPG Experience
  p
    | Enjoy all the features of an Idle game, plus:  
    ul
      li Level up your character attributes, choose your gear!
      li Each floor a Eorld to explore for loot and gear!
      li Secrets, secrets and more secret areas, plagued with valuable loot!
      li Ascend up the tower for even greater challenges and crazy worlds!
      li How far up will you Ascend?  

block sidebar
  ul.style1
    li.first
      p
        a(href="/play")
          img(src="./images/button-medium.png", alt="Play Game")