doctype
html
  head
    title #{title}
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      h1 Tower: The Ascent
    .container
      .main-content
        block content
      .sidebar
        block sidebar
    footer
      p Running on node with Express, Jade and Stylus.
      p
        a(href='https://github.com/belteshazzar543/TowerTheAscent') Github page  