extend layout

block vars
  - var pageTitle = "updatesPage"

block content
 .updatesForm
  div(id="abc", ng-if="showForm")
   div(id="addPost")
    img(id="close", src="../images/cancel.png", ng-click="toggleForm()")
    h2 Add Post
     hr
    input(id="title", name="title", placeholder="Title", type="text", ng-model="newUpdate.title")
    textarea(id="msg", name="message", placeholder="Message", ng-model="newUpdate.content")</textarea>
    button(class='btn btn-lg btn-primary btn-block', ng-click='check_empty(newUpdate)') Post Update
  div(id="abc", ng-if="showCommentForm")
   div(id="addComment")
    img(id="close", src="../images/cancel.png", ng-click="toggleCommentForm()")
    h2 Add Comment
     hr
    textarea(id="msg", name="message", placeholder="Message", ng-model="comment.msg")</textarea>
    button(class='btn btn-lg btn-primary btn-block', ng-click='addComment(comment)') Post Comment
 
 ul(ng-repeat="update in updates")
   div(id="{{update.title}}")
    .title
      h2 {{update.title}} - {{update.date}} 
    .post
      p
       {{update.content}} 
      .comments
       div(id="comments{{update.id}}", ng-if="update.showComments")
        ul(ng-repeat="comment in update.comments")
         p
          {{comment}}

      h4 
       a(ng-click="toggleComments(update)", href, ng-if="!update.showComments") Show Comments ({{update.numComments}}) 
       a(ng-click="toggleComments(update)", href, ng-if="update.showComments") Hide Comments ({{update.numComments}}) </a>
       | | 
       a(ng-click="toggleCommentForm(update)", ng-if="isAuthenticated", href) Add Comment 
       | | 
       a(ng-click="editPost(update)", ng-if="isAuthenticated", href) Edit  

block sidebar
  #stwo-col
    h2 Navigation
    a(ng-click="toggleForm()", href, ng-if='isAuthenticated') Add Post
    
    .sbox2
      p 
      li(ng-repeat="update in updates")
       a(ng-href="#{{update.title}}") {{update.date}}
