extend layout

block vars
  - var pageTitle = "updatesPage"

block content
 .updatesForm
  div(id="abc", ng-if="showForm")
   div(id="addPost")
    form(action="#", id="form", method="post", name="form")
     img(id="close", src="images/cancel.png", ng-click="toggleForm()")
     h2 Add Post
      hr
     input(id="title", name="title", placeholder="Title", type="text")
     textarea(id="msg", name="message", placeholder="Message")</textarea>
     a(ng-click="check_empty()", id="submit", href) Send
 
 ul(ng-repeat="update in updates")
   div(id="{{update.title}}")
    .title
      h2 {{update.title}} - {{update.date}} 
    .post
      p
       {{update.content}} 
      .comments
       ul(ng-repeat="comment in update.comments")
        
      h4 
       a(ng-click="editPost(update.id)", href) Edit  
       | | 
       a(ng-click="showComments(update.id)", href) Show Comments ({{update.comments}}) 
       | | 
       a(ng-click="addComment(update.id)", href) Add Comment

block sidebar
  #stwo-col
    h2 Navigation
    p 
     a(ng-click:"toggleForm()", href) Add Post
    
    .sbox2
      p 
      li(ng-repeat="update in updates")
       a(ng-href="#{{update.title}}") {{update.date}}
