extend layout
script.
  var addPost = function() {
   console.log('something')
  }

block content

  ul(ng-repeat="update in updates")
   div(id="{{update.title}}")
    .title
      h2 {{update.title}} - {{update.date}}
    p
      {{update.content}}

block sidebar
  #stwo-col
    h2 Navigation
    p 
     button(onClick='addPost()') Add Post
    
    .sbox2
      p 
      li(ng-repeat="update in updates")
       a(ng-href="#{{update.title}}") {{update.date}}
